@media (max-width: 1600px) {
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .mobile-menu{
        display: flex;
    }
    .top-menu{
        position: fixed;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background: #2a2a2a;
        left: 0;
        top: 0;
    }
    .top-menu.show{
        display: flex;
    }
    .top-menu-item:hover{
      display: none;
    }
    .it-technology-content {
        margin-bottom: 20px;
    }

    .team-title {
        font-size: 30px;
    }

    .team-sub-title {
        font-size: 26px;
    }
    .team-desc {
        padding: 0 30px;
        font-size: 22px;
        line-height: 40px;
    }
}


@media (max-width: 480px) {
    .hero img {
        height: 520px;
        margin-top: 15px;
    }

    .title {
        font-size: 22px;
        margin-top: 120px;
    }

    .sub-title {
        font-size: 15px;
        margin-top: 15px;
        line-height: 27px;
    }
    .btn {
        font-size: 14px;
        padding: 8px 16px;
        margin-top: 21px;
    }
    .it-technology-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .our-team {
        padding: 30px 10px;}

    .it-technology-overlay__heading {
        font-size: 20px;
        padding: 20px 0 0;
    }

    .it-technology-overlay__desc {
        font-size: 12px;
        line-height: 26px;
        padding: 0 25px;
    }

    .it-technology-content {
        margin-bottom: 20px
    }

    .team-title {
        font-size: 25px;
    }

    .team-sub-title {
        font-size: 22px;
        padding: 0 0 15px;
    }

    .team-desc {
        font-size: 16px;
        padding: 0 15px;
    }

    .developer-title {
        font-size: 19px;
        padding: 20px 10px 0;

    }
    .recommendation-box img {
         height: 350px;}


    @media (max-width: 320px) {
        .hero img {
            height: 520px;
            margin-top: 5px;
        }

        .title {
            font-size: 22px;
            margin-top: 120px;
        }

        .sub-title {
            font-size: 15px;
            margin-top: 15px;
            line-height: 27px;
        }

        .btn {
            font-size: 14px;
            padding: 8px 16px;
            margin-top: 21px;
        }

        .it-technology-content img {
            height: 360px
        }

        .it-technology-title {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .it-technology-overlay__heading {
            font-size: 16px;
        }

        .it-technology-overlay__desc {
            font-size: 12px;
            line-height: 20px;
            padding: 7px 20px;
        }

        .it-technology-content {
            margin-bottom: 20px
        }

        .it-technology-title {
            margin-bottom: 15px;
        }

        .developer-title {
            font-size: 18px;
            padding: 20px 10px 0;
        }

        .team-sub-title {
            font-size: 20px;
            padding: 0 0 15px;
        }

        .team-desc {
            padding: 0 15px;
        }

        .our-team {
            padding: 30px 10px
        }

        .recommendation-box img {
            height: 200px;}

    }



}



